In [1]:
import os
import openai
import langchain
import pandas as pd
from langchain.llms import OpenAI
from langchain.chat_models import ChatOpenAI
from langchain.agents import initialize_agent, AgentType
from langchain_experimental.agents.agent_toolkits import create_pandas_dataframe_agent

In [ ]:
# Add your OpenAI API key here
os.environ["OPENAI_API_KEY"] = "YOUR API_KEY HERE"

- Pandas Dataframe

In [2]:
# Add your CSV file path here 

df1 =  r"YOUR DATASET PATH"
df2 = r"YOUR DATASET PATH"
df3 = r"YOUR DATASET PATH"

In [3]:
df1.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [4]:
df2.head()

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json

In [5]:
df3.head()

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

In [6]:
agent = create_pandas_dataframe_agent(
    ChatOpenAI(temperature=0.1, model="gpt-3.5-turbo-0613"),
    [df1,df2,df3],
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,
)

c:\Users\admin\UpForce\Company Projects\UniversalChatBot\venv\lib\site-packages\langchain_core\_api\deprecation.py:117: LangChainDeprecationWarning: The class `langchain_community.chat_models.openai.ChatOpenAI` was deprecated in langchain-community 0.1.0 and will be removed in 0.2.0. Use langchain_openai.ChatOpenAI instead.
  warn_deprecated(

In [7]:
agent.run("list down top 5 car brands")

c:\Users\admin\UpForce\Company Projects\UniversalChatBot\venv\lib\site-packages\langchain_core\_api\deprecation.py:117: LangChainDeprecationWarning: The function `run` was deprecated in LangChain 0.1.0 and will be removed in 0.2.0. Use invoke instead.
  warn_deprecated(

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': "df1['name'].apply(lambda x: x.split()[0]).value_counts().head(5).index.tolist()"}`


['Maruti', 'Hyundai', 'Mahindra', 'Tata', 'Honda']The top 5 car brands are:
1. Maruti
2. Hyundai
3. Mahindra
4. Tata
5. Honda

> Finished chain.

'The top 5 car brands are:\n1. Maruti\n2. Hyundai\n3. Mahindra\n4. Tata\n5. Honda'

In [8]:
agent.run("how many passengers are still alive?")

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': "df3['2urvived'].sum()"}`


342There are 342 passengers who are still alive.

> Finished chain.

'There are 342 passengers who are still alive.'

In [9]:
agent.run("how many unique cities do we have ?")

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': "len(df2['city'].unique())"}`


821There are 821 unique cities in the dataset.

> Finished chain.

'There are 821 unique cities in the dataset.'

In [10]:
agent.run("how many cars are the First Ownerd")

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': "df1[df1['owner'] == 'First Owner'].shape[0]"}`


2832There are 2,832 cars that are listed as "First Owner" in the dataframe.

> Finished chain.

'There are 2,832 cars that are listed as "First Owner" in the dataframe.'